table{
    width: 80%;
    border-collapse: collapse;
    margin: auto;
}

th{
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    color: white;
    font-size: 40px;
    border: 2px solid white;;
}

td{
    border-collapse: collapse;
    padding: 8px;
    text-align: center;
    color:white;
    font-size: 30px;
    border: 2px solid white;

}

h1{
    text-align: center;
    color: white;
}

body{
    background-image: linear-gradient(to left, #8dbee3, #e38dc5);
    background-size: cover;
}